{% extends "base.html" %}

{% block title %}Paranda grupi chati appi{% endblock %}

{% block content %}

<h1 class="text-2xl font-bold mb-6">Paranda grupi chati appi</h1>

<div class="bg-white shadow-lg rounded-xl p-6">

    <p class="mt-4">Läbi mängides saate erinevaid kasutajaid katsetada nii, et võtate brauseri privaat akna või teise brauseriga chati appi lahti</p>

    <p class="mt-4">Lisa sõnumile kasutajanimi</p>

    <p class="mt-4">Tee nii, et erinevate kasutajate sõnumid oleks erinevat värvi</p>

    <p class="mt-4">Mängi uue sõnumi saabudes heli</p>

</div>

{% endblock %}